{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-4">Go Green Support</h1>
                    <p class="lead">Welcome to the Go Green support system, here you can open tickets about enquiries/issues with our services.</p>
                    <hr class="my-4">
                    <p>Want to open a ticket with us? Follow the link below!</p>
                    <a class="btn btn-success btn-lg" href="{{ path_for('ticket.open') }}" role="button">Open Ticket</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}