{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Login</h1>
                <hr>
                {% if flash().error.0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash().error.0 }}
                    </div>
                {% endif %}
                <form action="{{ path_for('login') }}" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login" class="btn btn-success">
                    {{ csrf_field() | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}