{% extends 'templates/main.twig' %}

{% block page %}
<div class="banner text-center text-md-left">
    <div class="plexus">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>#{{ ticket.ID }}</h1>
                    <h2>{{ ticket.Subject }}</h2>
                    {% if ticket.Closed %}
                        <span class="badge badge-danger">Closed</span>
                    {% else %}
                        <span class="badge badge-success">Open</span>
                    {% endif %}
                    <span class="badge badge-secondary">Last updated {{ ticket.Updated }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if flash().info.0 %}
                <div class="alert alert-info alert-global" role="alert">
                    {{ flash().info.0 }}
                </div>
            {% endif %}
            {% if not ticket.Closed %}
                <a href="#reply-form" class="btn btn-secondary alert-global" style="width: 100%">Reply</a>
            {% endif %}
            {% for response in responses %}
                <div class="response-block {{ response.UserID == 0 ? 'response-client' }}">
                    <div class="response-head text-center text-md-left">
                        <h4 class="d-block d-md-inline-block">{{ response.UserID == null ? ticket.CustomerName : response.StaffName }} (<b>{{ response.UserID == null ? 'Client' : 'Staff' }}</b>)</h4>
                        <h5 class="d-block d-md-inline-block float-none float-md-right">Responded at {{ response.Created }}</h5>
                    </div>
                    <div class="response-content">
                        <p>{{ response.Text }}</p>
                    </div>
                </div>
            {% endfor %}
            {% if not ticket.Closed %}
                <div class="page">
                    {% if flash().error.0 %}
                        <div class="alert alert-danger" role="alert">
                            {{ flash().error.0 }}
                        </div>
                    {% endif %}
                    <form id="reply-form" action="{{ path_for('ticket.view', {'emailHash': emailHash, 'ticketHash': ticket.TicketHash}) }}" method="post">
                        <textarea name="message" placeholder="Message" required></textarea>
                        <input type="submit" value="Reply" class="btn btn-success">
                        {{ csrf_field() | raw }}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}