{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Open a ticket</h1>
                <hr>
                {% if flash().error.0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash().error.0 }}
                    </div>
                {% endif %}
                <form action="{{ path_for('ticket.open') }}" method="post">
                    <input type="email" name="email" placeholder="Email address" required>
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="subject" placeholder="Subject" required>
                    <textarea name="message" placeholder="Message" required></textarea>
                    <input type="submit" value="Submit" class="btn btn-success">
                    <a href="{{ path_for('home') }}" class="btn btn-secondary">Cancel</a>
                    {{ csrf_field() | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}