body {
    background-color: #eee;
}

a {
    color: #28a745;
}

a:hover, a:focus {
    color: #222;
}

a.btn {
    color: #fff !important;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border: 1px solid #3D9D3D;
    outline: none;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
    border-color: #222;
}

.table thead th {
    vertical-align: middle;
}

.table input[type=text], .table select {
    padding: 5px;
    margin: 0;
}

.alert-global {
    margin-top: 35px;
}

.badge {
    margin-top: 15px;
    padding: 8px 16px;
}

.badge-table {
    margin-top: 0;
}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 4px solid #3D9D3D;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    background-color: #fff !important;
}

.navbar li a {
    color: #3D9D3D !important;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar li a:hover {
    color: #222 !important;
}

.banner {
    padding: 40px 0;
    color: #fff;
    background: #5FA453;
}

.banner h1 {
    font-size: 56px;
}

.banner h2 {
    font-size: 48px;
    opacity: 0.8;
}

.banner h1, .banner h2, .banner h3 {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.plexus {
    background-image: url('../img/plexus.png');
    background-size: cover;
}

.page .jumbotron {
    background-color: #fff;
}

.page {
    padding: 25px;
    margin-top: 50px;
    border-top: 4px solid #5FA453;
    border-left: 1px solid #5FA453;
    border-right: 1px solid #5FA453;
    border-bottom: 1px solid #5FA453;
    background-color: #fff;
}

.response-block {
    margin-top: 50px;
    border: 1px solid #5FA453;
    background-color: #fff;
}

.response-head {
    color: #fff;
    padding: 25px;
    background-color: #5FA453;
}


.response-head h3, .response-head h4, .response-head h5 {
    display: inline-block;
    font-weight: normal;
}

.response-content {
    padding: 25px;
}

#footer {
    margin-top: 50px;
}

#l {
    display: inline-block;
    width: auto;
    padding: 5px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #l {
        margin-top: 10px;
        width: 100%;
    }
}