{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Transfer ticket</h1>
                <hr>
                {% if flash().error.0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash().error.0 }}
                    </div>
                {% endif %}
                <form action="{{ path_for('admin.ticket.transfer', {'ticketHash': ticket.TicketHash}) }}" method="post">
                    <select name="user">
                        <option selected disabled>User to transfer to</option>
                        {% for user in users %}
                            {% if user.ID != user().ID %}
                                <option value="{{ user.ID }}.{{ user.DisplayName }}">{{ user.DisplayName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="Transfer" class="btn btn-success">
                    <a href="{{ path_for('admin.ticket.view', {'ticketHash': ticket.TicketHash}) }}" class="btn btn-secondary">Cancel</a>
                    {{ csrf_field() | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}