{% extends 'templates/main.twig' %}

{% block scripts %}
<script type="text/javascript" src="/js/admin.ticket.js"></script>
{% endblock %}

{% block page %}
<div class="banner text-center text-md-left">
    <div class="plexus">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>#{{ ticket.ID }}</h1>
                    <h2>{{ ticket.Subject }}</h2>
                    {% if ticket.Closed %}
                        <span class="badge badge-danger">Closed</span>
                    {% else %}
                        <span class="badge badge-success">Open</span>
                    {% endif %}
                    <span class="badge badge-secondary">Last updated {{ ticket.Updated }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            {% if flash().info.0 %}
                <div class="alert alert-info alert-global" role="alert">
                    {{ flash().info.0 }}
                </div>
            {% endif %}
            <div class="alert-global">
                {% if ticket.Closed %}
                    <button class="btn btn-info" id="btn-reopen-ticket">Reopen</button>
                {% else %}
                    <button class="btn btn-danger" id="btn-close-ticket">Close</button>
                    {% if ticket.UserID == null %}
                        <a href="#" onclick="document.getElementById('assign-form').submit()" class="btn btn-info">Assign</a>
                    {% else %}
                        <a href="{{ path_for('admin.ticket.transfer', {'ticketHash': ticket.TicketHash}) }}" class="btn btn-info">Transfer</a>
                    {% endif %}
                    <a href="#reply-form" class="btn btn-secondary">Reply</a>
                {% endif %}
            </div>
            {% for response in responses %}
                <div class="response-block {{ response.UserID == null ? 'response-client' }}">
                    <div class="response-head text-center text-md-left">
                        <h4 class="d-block d-md-inline-block">{{ response.UserID == null ? ticket.CustomerName : response.StaffName }} (<b>{{ response.UserID == null ? 'Client' : 'Staff' }}</b>)</h4>
                        <h5 class="d-block d-md-inline-block float-none float-md-right">Responded at {{ response.Created }}</h5>
                    </div>
                    <div class="response-content">
                        <p>{{ response.Text }}</p>
                    </div>
                </div>
            {% endfor %}
            {% if not ticket.Closed %}
                <div class="page">
                    {% if flash().error.0 %}
                        <div class="alert alert-danger" role="alert">
                            {{ flash().error.0 }}
                        </div>
                    {% endif %}
                    <form id="reply-form" action="{{ path_for('admin.ticket.respond', {'ticketHash': ticket.TicketHash}) }}" method="post">
                        <textarea name="message" placeholder="Message" required></textarea>
                        <input type="submit" value="Reply" class="btn btn-success">
                        {{ csrf_field() | raw }}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<form id="assign-form" action="{{ path_for('admin.ticket.assign', {'ticketHash': ticket.TicketHash}) }}" method="post" class="d-none">{{ csrf_field() | raw }}</form>
<form id="close-form" action="{{ path_for('admin.ticket.close', {'ticketHash': ticket.TicketHash}) }}" method="post" class="d-none">{{ csrf_field() | raw }}</form>
<form id="reopen-form" action="{{ path_for('admin.ticket.reopen', {'ticketHash': ticket.TicketHash}) }}" method="post" class="d-none">{{ csrf_field() | raw }}</form>
{% endblock %}