{% extends 'templates/main.twig' %}

{% block scripts %}
<script type="text/javascript" src="/js/admin.ticket.list.js"></script>
{% endblock %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Ticket List</h1>
                <p>List of all unassigned tickets and tickets belonging to you</p>
                <h6 style="margin-top: 10px" class="d-inline-block">Showing {{ pagination.start }}-{{ pagination.end }} of {{ pagination.total }} of results</h6>
                <select id="l" class="float-none d-block float-md-right d-md-inline-block">
                    <option disabled selected>Results per page</option>
                    <option {% if query.l == 1 %}selected{% endif %} value="1">1</option>
                    <option {% if query.l == 5 %}selected{% endif %} value="5">5</option>
                    <option {% if query.l == 15 %}selected{% endif %} value="15">10</option>
                    <option {% if query.l == 25 %}selected{% endif %} value="25">25</option>
                    <option {% if query.l == 50 %}selected{% endif %} value="50">50</option>
                </select>
                <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Assigned</th>
                            <th scope="col">Client</th>
                            <th scope="col">Ticket</th>
                            <th scope="col">Status</th>
                            <th scope="col">Open/Closed</th>
                        </tr>
                        <tr>
                            <th scope="col">-</th>
                            <th scope="col">
                                <select id="a">
                                    <option {% if query.a == 0 %}selected{% endif %} value="0">All</option>
                                    <option {% if query.a == 1 %}selected{% endif %} value="1">Unassigned</option>
                                    <option {% if query.a == 2 %}selected{% endif %} value="2">Assigned</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select id="c">
                                    <option selected value="">Show all clients</option>
                                    {% for client in clients %}
                                        <option {% if query.c == client.EmailHash %}selected{% endif %} value="{{ client.EmailHash }}">{{ client.Email }} ({{ client.CustomerName }})</option>
                                    {% endfor %}
                                </select>
                            </th>
                            <th scope="col">
                                <input type="text" id="t" placeholder="Search" value="{% if query.t %}{{ query.t }}{% endif %}">
                            </th>
                            <th scope="col">
                                <select id="s">
                                    <option {% if query.s == 0 %}selected{% endif %} value="0">All</option>
                                    <option {% if query.s == 1 %}selected{% endif %} value="1">Client Replied</option>
                                    <option {% if query.s == 2 %}selected{% endif %} value="2">Awaiting Reply</option>
                                </select>
                            </th>
                            <th scope="col">
                                <select id="oc">
                                    <option {% if query.oc == 0 %}selected{% endif %} value="0">All</option>
                                    <option {% if query.oc == 1 %}selected{% endif %} value="1">Open</option>
                                    <option {% if query.oc == 2 %}selected{% endif %} value="2">Closed</option>
                                </select>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <th scope="row">{{ ticket.ID }}</th>
                                <td>{{ ticket.Assigned }}</td>
                                <td>{{ ticket.Email }} ({{ ticket.CustomerName }})</td>
                                <td><a href="{{ path_for('admin.ticket.view', {'ticketHash': ticket.TicketHash}) }}">{{ ticket.Subject }}</a></td>
                                <td>
                                    {% if ticket.Responded == 0 %}
                                        <span>Client replied</span>
                                    {% else %}
                                        <span>Awaiting response</span>
                                    {% endif %}
                                    ({{ ticket.Updated }})
                                </td>
                                <td>
                                    {% if ticket.Closed %}
                                        <span class="badge badge-danger badge-table">Closed</span>
                                    {% else %}
                                        <span class="badge badge-success badge-table">Open</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <hr>
                {% if pagination.page > 1 %}
                    <a href="{{ path_for('admin.ticket.list') }}?page={{ (pagination.page - 1) ~ '&' ~ queryString }}" class="btn btn-success">Previous</a>
                {% endif %}
                {% if pagination.page + 1 <= pagination.pages %}
                    <a href="{{ path_for('admin.ticket.list') }}?page={{ (pagination.page + 1) ~ '&' ~ queryString }}" class="btn btn-success">Next</a>
                {% endif %}
                <span style="margin-left: 15px">Page {{ pagination.page }} of {{ pagination.pages }}</span>
            </div>
        </div>
    </div>
</div>
<form id="filter_form" action="" method="GET">
    <input type="hidden" id="limit" name="l" value="{% if query.l %}{{ query.l }}{% endif %}">
    <input type="hidden" id="assigned" name="a" value="{% if query.a %}{{ query.a }}{% else %}0{% endif %}">
    <input type="hidden" id="client" name="c" value="{% if query.c %}{{ query.c }}{% endif %}">
    <input type="hidden" id="search" name="t" value="{% if query.t %}{{ query.t }}{% endif %}">
    <input type="hidden" id="status" name="s" value="{% if query.s %}{{ query.s }}{% else %}0{% endif %}">
    <input type="hidden" id="open_close" name="oc" value="{% if query.oc %}{{ query.oc }}{% else %}0{% endif %}">
</form>
{% endblock %}