{% extends 'templates/main.twig' %}

{% block scripts %}
<script type="text/javascript" src="/js/admin.user.js"></script>
{% endblock %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Modify User, {{ user.DisplayName }}</h1>
                <hr>
                {% if flash().error.0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash().error.0 }}
                    </div>
                {% endif %}
                <form action="{{ path_for('admin.user.modify', {'userId': user.ID}) }}" method="post">
                    <input type="text" name="username" placeholder="Username" value="{{ user.Username }}" required>
                    <input type="text" name="displayName" placeholder="Display Name" value="{{ user.DisplayName }}" required>
                    <input type="password" name="password" placeholder="Updated Password (Optional)">
                    <label for="superAdmin" class="d-block" style="margin-bottom: 40px">
                        <input type="checkbox" id="superAdmin" name="superAdmin" {% if user.SuperAdmin %}checked{% endif %}>
                        Super Admin
                    </label>
                    <input type="password" id="adminPassword" name="adminPassword" placeholder="Enter your password to confirm" style="margin-bottom: 35px" required>
                    <input type="submit" value="Modify" class="btn btn-success">
                    <a href="{{ path_for('admin.user.list') }}" class="btn btn-secondary">Cancel</a>
                    <a href="#" class="btn btn-danger float-right" id="btn-delete-user">Delete</a>
                    {{ csrf_field() | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
<form id="delete-form" action="{{ path_for('admin.user.delete', {'userId': user.ID}) }}" method="post" class="d-none">
    <input type="hidden" id="delete-adminPassword" name="adminPassword" value="">
    {{ csrf_field() | raw }}
</form>
{% endblock %}