{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>User List</h1>
                <p>List of all users</p>
                <a href="{{ path_for('admin.user.create') }}" class="btn btn-success" style="margin-bottom: 25px">Create</a>
                <h6 style="margin-bottom: 15px">Showing {{ pagination.start }}-{{ pagination.end }} of {{ pagination.total }} of results</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">SuperAdmin</th>
                            <th scope="col">Display Name</th>
                            <th scope="col">Username</th>
                            <th scope="col">Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <th scope="row">{{ user.ID }}</th>
                                <td>{{ user.SuperAdmin ? 'Yes' : 'No' }}</td>
                                <td>{{ user.DisplayName }}</td>
                                <td><a href="{{ path_for('admin.user.modify', {'userId': user.ID}) }}">{{ user.Username }}</a></td>
                                <td>{{ user.Created }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr>
                {% if pagination.page > 1 %}
                    <a href="{{ path_for('admin.ticket.list') }}?page={{ pagination.page - 1 }}" class="btn btn-success">Previous</a>
                {% endif %}
                {% if pagination.page + 1 <= pagination.pages %}
                    <a href="{{ path_for('admin.ticket.list') }}?page={{ pagination.page + 1 }}" class="btn btn-success">Next</a>
                {% endif %}
                <span style="margin-left: 15px">Page {{ pagination.page }} of {{ pagination.pages }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}