{% extends 'templates/main.twig' %}

{% block page %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="page">
                <h1>Create a user</h1>
                <hr>
                {% if flash().error.0 %}
                    <div class="alert alert-danger" role="alert">
                        {{ flash().error.0 }}
                    </div>
                {% endif %}
                <form action="{{ path_for('admin.user.create') }}" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="text" name="displayName" placeholder="Display Name" required>
                    <input type="password" name="password" placeholder="Updated Password (Optional)">
                    <label for="superAdmin" class="d-block" style="margin-bottom: 40px">
                        <input type="checkbox" id="superAdmin" name="superAdmin">
                        Super Admin
                    </label>
                    <input type="password" id="adminPassword" name="adminPassword" placeholder="Enter your password to confirm" style="margin-bottom: 35px" required>
                    <input type="submit" value="Create" class="btn btn-success">
                    <a href="{{ path_for('admin.user.list') }}" class="btn btn-secondary">Cancel</a>
                    {{ csrf_field() | raw }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}