<!DOCTYPE html>
<html lang="en">
<head>
    <title>Go Green - Support Ticket System</title>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {% include 'templates/navigation.twig' %}
        {% if flash().global.0 %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-info alert-global" role="alert">
                            {{ flash().global.0 }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% block page %}{% endblock %}
        {% include 'templates/footer.twig' %}
    </div>
    <script type="text/javascript" src="/js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>