<nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
    <div class="container">
        <a class="navbar-brand" href="{{ path_for('home') }}">
            <img src="/img/logo.svg" width="160"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('ticket.open') }}">Open Ticket</a>
                </li>
                {% if auth() %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('admin.ticket.list') }}">Ticket list</a>
                    </li>
                    {% if user().SuperAdmin != 0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path_for('admin.user.list') }}">Users</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path_for('logout') }}">Logout</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>